<!DOCTYPE html>
<html>
<head>
    <title>KenChat Admin Panel</title>
    <style>
        body { font-family: Arial; background: #fff; color: #000; margin: 20px; }
        form { margin-bottom: 20px; }
        button { padding: 5px 10px; margin-left: 5px; }
    </style>
</head>
<body>
    <h1>OOPS! thats an error! uhhhhhhhhhh just like uhhhhhhhh idk it broke ig (kenbot might lowk be broken)</h1>
   
</form>

<br>
<a href="/">home</a>
<a href="https://youtube.com/@pedrogaming32?si=xlms9SMDUHTHCs4V">??????</a>
</body>
</html>



