<!DOCTYPE html>
<html>
<head>
    <title>KenBot</title>
</head>
<body>

<h1>KenBot</h1>
<hr>

{% if history %}
    {% for msg in history %}
        <p><b>{{ msg.user }}:</b> {{ msg.text }}</p>
    {% endfor %}
{% else %}
    <p>No messages yet.</p>
{% endif %}

<hr>

<form method="post" action="{{ url_for('kenbot_send') }}">
    <input type="text" name="text" size="50" autofocus>
    <input type="submit" value="Send">
</form>

<br>

<form method="get" action="{{ url_for('kenbot_reset') }}">
    <input type="submit" value="Reset Conversation">
</form>

<br>
<a href="/">Back</a>

</body>
</html>
